<h1>New Application Page</h1>

<%= form_with(url: "/adopt_applications", method: :post, local: true) do |form| %>
<%= form.label :first_name, 'First Name:' %>
<%= form.text_field :first_name %>

<%= form.label :last_name, 'Last Name:'%>
<%= form.text_field :last_name %>

<%= form.label :street_address, 'Street Address:' %>
<%= form.text_field :street_address %>

<%= form.label :city, 'City:' %>
<%= form.text_field :city %>

<%= form.label :state, 'State:' %>
<%= form.text_field :state, limit: 2 %>

<%= form.label :zipcode, 'Zipcode:' %>
<%= form.number_field :zipcode, limit: 5 %>

<%= form.label :description, "Why do you think you'd be a good home for this pet(s)?" %>
<%= form.text_field :description %>

<%= form.submit 'Submit Application' %>
<% end %>
