<h1>New Application Page</h1>

<%= form_with(url: "/adopt_applications", method: :post, local: true) do |form| %>
<%= form.label :first_name, 'First Name:' %>
<%= form.text_field :first_name %>
<br>
<br>
<%= form.label :last_name, 'Last Name:'%>
<%= form.text_field :last_name %>
<br>
<br>
<%= form.label :street_address, 'Street Address:' %>
<%= form.text_field :street_address %>
<br>
<br>
<%= form.label :city, 'City:' %>
<%= form.text_field :city %>
<br>
<br>
<%= form.label :state, 'State:' %>
<%= form.select :state, [' ', 'AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY'] %>
<br>
<br>
<%= form.label :zipcode, 'Zipcode:' %>
<%= form.number_field :zipcode, in: 00000..99999 %>
<br>
<br>
<%= form.submit 'Submit Application' %>
<% end %>
