<h1>Application Show Page</h1>

<h3>Applicant Name:</h3>
<p> <%= @application.first_name %> <%= @application.last_name %></p>

<h3>Address:</h3>
<p><%= @application.street_address %>, <%= @application.city %>, <%= @application.state %>, <%= @application.zipcode %><p>

<h3>Pet Name(s):</h3>
<p><% @application.pets.each do |pet| %>
<%=link_to "#{pet.name}", "/pets/#{pet.id}" %>&nbsp;
<% end %></p>

<h3>Why do you think you'd be a good home for this pet(s)?</h3>
<p> <%= @application.description %></p>

<h3>Application Status:</h3>
<p><%= @application.status %></p>
<br>
<br>

<h2>Add a Pet to this Application</h2>

<%= form_with url: "/adopt_applications/#{@application.id}", method: :get, local: true do |f| %>
<%= f.label :search, 'Pet Name:' %>
<%= f.text_field :search %>
<%= f.submit "Search" %>
<% end %>
